.chat-bubble {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 10px;
    margin: 5px 0;
}

.user-message {
    background-color: #339933;
    color: white;
    align-self: flex-end;
}

.bot-message {
    background-color: #e5e7eb;
    color: black;
    align-self: flex-start;
}
